
<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Order management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="ThanhToans" asp-action="Index">Order</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="ThongTins" asp-action="Index">Order Detail</a>
                    </li>
                    
                </ul>
            </li>
            <li class="nav-item ">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="DichVus" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">Service Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                
            </li>
            
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-form"></i>
                    </span>
                    <span class="title">Sales</span>

                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-table"></i>
                    </span>
                    <span class="title">System Management</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="TaiKhoans" asp-action="Index">Account Management</a>
					</li>
                    <li>
                        <a asp-area="Admin" asp-controller="Loais" asp-action="Index">Catalog Management</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="ChucVus" asp-action="Index">Acess Management</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Providers" asp-action="Index">Telecom Operator Management</a>
                    </li>
                    
                    
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" asp-area="Admin" asp-controller="FeedBacks" asp-action="Index">
                    <span class="icon-holder">
                        <i class="anticon anticon-build"></i>
                    </span>
                    <span class="title">FeedBacks</span>
                    
                </a>
            </li>
            @*<li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-lock"></i>
                    </span>
                    <span class="title">Quan ly shipper</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a <a asp-area="Admin" asp-controller="AdminPages" asp-action="Index">New List</a>
                    </li>
                </ul>
            </li>*@
        </ul>
    </div>
</div>
